*{
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: #212529;
    /* background: #7209b7; */
    font-family: 'Courier New', Courier, monospace;
    /* overflow: hidden; */
}
.container{
    /* border: 1px solid #ff0; */
    margin: 60px auto;
    width: 600px;
}
.wrap-container{
    /* border: 1px solid #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.authCred .btn{
    display: inline-block;
    padding: 9px 29px;
    margin: 20px;
    width: 100px;
    font-size: .8em;
    border-radius: .2em;
    /* background: #0466c8; */
    background: #ff7900;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.contain{
    /* position: relative; */
    background: #fff;
    border-radius: 2px;
    max-width: 330px;
    width: 100%;

    margin: 10px auto 0px;
}
.reset-signup{
    margin-top: 80px;
}
.form-field{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 20px;
}
.form-field input{
    padding: 8px 15px;
    font-size: .9rem;
    outline: none;
    color: #000;
}
.form-field label{
    font-size: 1em;
    margin-bottom: 6px;
    font-weight: 600PX;
}
.form-field .btn{
    /* background: #0766e2; */
    background: #7209b7;
    border: none;
    font-size: .9em;
    padding: 14px 0;
    color: #fff;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 3px;
}
.error input{
    border: 1px solid #f00;
}
.error small{
    padding-top: 8px;
    font-size: .9rem;
    color: #f00;
}
.success input{
    border: 1px solid #22d322;
}
.hide{
    display: none;
}

.dashBoardContainer{
    /* border: 1px solid #ff0; */
    max-width: 1025px;
    height: 530px;
    margin: 60px auto;
    background: #fff;
    border-radius: 5px;
}
.dashBoardBtnWrapper{
    /* border: 1px solid #f00; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px;
}
.dashBtn{
    position: relative;
    display: inline-block;
    margin: 12px;
    /* border: 1px solid #00ff; */
    height: 30px;
    width: 80px;
}
.accBtn{
    display: inline-block;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #6a00f4;
    border-radius: 2px;
}
.todoContainer{ 
    /* border: 1px solid #00ff6a; */
    border-radius: 2px;
    width: 60%;
    /* height: 80%; */
    margin: 20px auto;
}
.todoForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}
.todoForm input,
.todoForm button{
    font-size: 14px;
    outline: none;
    border: none;
    background: #cfdbd5;
    padding: .8rem;
    color: #000000;
    padding-left: 8px;
    /* text-align: */
}
.todoForm input{
    width: 60%;
}
.todoForm .todoButton{
    background: #00ffc8;
    color: #fff;
    border: none;
    transition: .5s ease-out;
    cursor: pointer;
    padding: 13px 19px;
}
.todoButton:hover{
    background: #00ff6a;
}
.todoList{
   display: flex;
   flex-direction: column;
   padding: 0px;
   list-style: none;
   min-width: 30%;
   border-radius: 3px;
  
}
.todo{
    position: relative;
    list-style: none;
    margin: 5px;
    background: #2b221a;
    color: #fff;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* border: 1px solid #1c1ce4; */
    box-shadow: 5px 0 10px 0 #aaa9a9;
    /* background: #d7e3fc; */
}
.todo li{
    flex: 1;
    padding-left: 8px;
}
.trashButton, .completeButton, .undoButton{
    background: #00ff5e;
    color: #fff;
    padding: .9rem;
    font-size: .8rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    
}
.trashButton{
    background: #f00;
}
.undoButton{
    background: #ff7900;
}
.fa-trash, .fa-check, .fa-undo-alt{
    pointer-events: none;
}
.complete{
    color: #22d322;
}
.setting{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 60px; 
    cursor: pointer; 
}
.settingBtn{
    height: 25px;
    width: 25px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    background: #ff7900;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
}
.dashBoardContainer .todoContain{
    /* border: 1px solid #ff7900; */
    width: calc(70% - 30px);
    margin: .9rem auto;
}
.highlight{
    position: relative;
    width: 100%;
    /* transform: translateY(-180%); */
}